<!DOCTYPE html>
<html>
<head>
<h1 style="color: #f1fa8c;">Program has stopped</h1>
<title>Stopped program</title>
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body style="background-color: #282a36">

<div id="main-text" style="background:linear-gradient(0deg, rgb(90, 68, 68), rgba(0, 0, 0, 0.2)), url(../static/images/shock.jpg);">
  <h3 style="text-align: center; color:#e78284; font-size: 30px;"><br>&nbsp;&nbsp;Set threshold to 500 and {punishAttention, punishMeditation} to 0. To continue operation, go <a href="/">home.</a></h3>
  <p style="text-align: center; margin-left: auto; margin-right: auto; width: 85%; font-size: 21px;"></p>
  <!-- <div id="row-0">
    <figure>
      <a href="play"><img style="border: 7px solid rgba(235, 235, 255, .3); border-radius: 12px; box-shadow: 10px 5px 5px rgba(0, 0, 0, .3);" height=230px; src="{{url_for('static', filename='images/play.jpeg')}}"/></a>
      <figcaption style="font-size: 19px; font-weight: bold;">Play</figcaption>
    </figure>
      <figure>
      <a href="graph"><img style="border: 7px solid rgba(235, 235, 255, .3); border-radius: 12px; box-shadow: 10px 5px 5px rgba(0, 0, 0, .3);" height=230px; src="{{url_for('static', filename='images/graph.jpg')}}"/></a>
      <figcaption style="font-size: 19px; font-weight: bold;">Graph the data</figcaption>
  <!-- </div>
    <div id="row-1">
      <figure style="margin-top: 14px;">
		<p style="position: relative; top: 50%; left: 50%; font-size: 21px; font-weight: bold; color: #f1fa8c; transform: translate(-50%, -50%); z-index: 1; background-color:rgba(68, 71, 90, 0.7);">Not finished yet!</p>
        <img style="opacity: 0.7; filter: alpha(opacity=70); border: 7px solid rgba(235, 235, 255, .3); border-radius: 12px; box-shadow: 10px 5px 5px rgba(0, 0, 0, .3);" height=230px; src="images/research.jpg"/>
        <figcaption style="opacity: 0.7; filter: alpha(opacity=70); font-size: 18px; font-weight: bold;">Research</figcaption>
      </figure>
      <figure>
		<p style="position: relative; top: 50%; left: 50%; font-size: 21px; font-weight: bold; color: #f1fa8c; transform: translate(-50%, -50%); z-index: 1; background-color:rgba(68, 71, 90, 0.7);">Not finished yet!</p>
        <img style="opacity: 0.7; filter: alpha(opacity=70); border: 7px solid rgba(235, 235, 255, .3); border-radius: 12px; box-shadow: 10px 5px 5px rgba(0, 0, 0, .3);" height=230px; src="images/nuclear-symbol.jpg"/>
        <figcaption style="opacity: 0.7; filter: alpha(opacity=70); font-size: 19px; font-weight: bold;">Public Perception/Debate</figcaption>
      </figure>
  </div> -->
<!-- </div> --> 
<footer>
<p style="font-family: Arial, Helvetica, sans-serif; color: #f1fa8c; bottom: 0;">Sowwy i shocked u :(</p>
</footer>
</body>